<a href="https://colab.research.google.com/github/Yongjin9660/tensorflow_Ex/blob/master/Boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

보스턴 집값 예측

github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [3]:
# 1. 과거의 데이터를 준비합니다.
보스턴 = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [4]:
# 독립변수, 종속변수 분리
독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 보스턴[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [6]:
# 2. 모델의 구조를 만듭니다
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [11]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=1000, verbose=0)
model.fit(독립, 종속, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.8590
Epoch 2/10
16/16 [==============================] - 0s 898us/step - loss: 24.7473
Epoch 3/10
16/16 [==============================] - 0s 881us/step - loss: 24.1883
Epoch 4/10
16/16 [==============================] - 0s 913us/step - loss: 24.8142
Epoch 5/10
16/16 [==============================] - 0s 936us/step - loss: 24.5895
Epoch 6/10
16/16 [==============================] - 0s 953us/step - loss: 24.5941
Epoch 7/10
16/16 [==============================] - 0s 929us/step - loss: 24.5564
Epoch 8/10
16/16 [==============================] - 0s 954us/step - loss: 25.0218
Epoch 9/10
16/16 [==============================] - 0s 991us/step - loss: 24.9779
Epoch 10/10
16/16 [==============================] - 0s 963us/step - loss: 24.1335

In [12]:
# 4. 모델을 이용합니다.
model.predict(독립[0:5])

array([[29.174772],
       [23.960024],
       [30.421022],
       [29.377237],
       [28.909899]], dtype=float32)

In [13]:
종속[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [15]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09026724],
        [ 0.05453703],
        [-0.04591554],
        [ 2.9091976 ],
        [ 1.9631099 ],
        [ 5.043284  ],
        [-0.00829542],
        [-0.98932445],
        [ 0.17590222],
        [-0.01101502],
        [-0.33705944],
        [ 0.01337241],
        [-0.4921128 ]], dtype=float32), array([4.0559573], dtype=float32)]