<a href="https://colab.research.google.com/github/Yongjin9660/tensorflow_Ex/blob/master/lemonade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 레모네이드 : https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 데이터 준비
데이터 = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv')
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [3]:
# 종속변수, 독립변수
독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [5]:
# 모델을 만듭니다.
X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [10]:
# 모델을 학습합니다.
model.fit(독립, 종속, epochs = 10)

Epoch 1/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2807e-04
Epoch 2/10
1/1 [==============================] - 0s 5ms/step - loss: 5.2779e-04
Epoch 3/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2740e-04
Epoch 4/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2711e-04
Epoch 5/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2680e-04
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2640e-04
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: 5.2604e-04
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 5.2567e-04
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2536e-04
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: 5.2496e-04

In [11]:
# 모델을 이용합니다.
model.predict(독립)

array([[40.019615],
       [42.00764 ],
       [43.995667],
       [45.983692],
       [47.971718],
       [49.959747]], dtype=float32)

In [12]:
model.predict([[15]])

array([[30.079485]], dtype=float32)